<html>

<head>
    <link rel="stylesheet" href="https://hosted-sip.civic.com/css/civic-modal.min.css">
    <style>
        .container {
            display: flex;
            justify-content: center;
        }
    </style>
</head>

<body>
    <div class="container">
        <div>
            <h1>Blockchain Decentralized ID (DID) Authentication Demo</h1>
            <button id="signupButton" class="civic-button-a medium" type="button">
                <span>Sign In with Civic</span>
            </button>
        </div>
    </div>
    <script src="https://hosted-sip.civic.com/js/civic.sip.min.js"></script>
    <script src="assets/js/main.js"></script>
</body>

</html>